<form (submit)="submitCreateUserForm($event)" class="b-form">
  <label for="email" class="b-form__block">
    <p>Buscar usuario por id</p>
    <input name="id" type="text" id="id" class="" placeholder="Id de usuario">
  </label>
  <input class="" type="submit" value="Buscar usuario">
</form>

<section class="c-users__results">
  <div *ngIf="isThereUser" class="c-users__item">

    <form class="b-form">

      <label for="userName" class="b-form__block">
        <p>Nombre de Usuario</p>
        <input value="{{userToUpdate.userName}}" type="text" id="userName" class="" placeholder="Nombre de usuario">
      </label>
      <label for="email" class="b-form__block">
        <p>Email</p>
        <input value="{{userToUpdate.email}}" type="email" id="email" class="" placeholder="Email">
      </label>
      <label for="password" class="b-form__block">
        <p>Contraseña</p>
        <input value="{{userToUpdate.password}}" type="text" id="password" class="" placeholder="Password">
      </label>
      <label for="role" class="b-form__block">
        <p>Role</p>
        <input value="{{userToUpdate.role}}" type="text" id="role" class="" placeholder="Role">
      </label>
      <input class="" type="submit" value="Editar Usuario">
    </form>
  </div>
</section>