<form class="b-form">
  <label for="email" class="b-form__block">
    <p>Buscar usuario por id</p>
    <input formControlName="id" type="text" id="id" class="" placeholder="Id de usuario">
  </label>
  <label for="email" class="b-form__block">
    <p>Buscar usuario por nombre</p>
    <input formControlName="userName" type="text" id="userName" class="" placeholder="Nombre de usuario">
  </label>
  <input class="" type="submit" value="Editar usuario">
</form>


<!-- [formGroup]="CreateUserForm" (submit)="submitCreateUserForm()" -->