<form (submit)="submitCreateUserForm($event)" class="b-form">
  <label for="email" class="b-form__block">
    <p>Buscar usuario por id</p>
    <input name="id" type="text" id="id" value={{userId}} placeholder="Id de usuario">
  </label>
  <input class="" type="submit" value="Buscar usuario">
</form>

<section class="c-users__results">
  <div *ngIf="isThereUser" class="c-users__item">
    <form class="b-form" (submit)="submitEditUser($event)">

      <label for="role" class="b-form__block">
        <p>Rol de Usuario</p>
        <select id="role" name="role" class="b-form__select">
          <option selected="selected" value=""></option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
          <option value="creator">Creator</option>
        </select>
      </label>

      <label for="userName" class="b-form__block">
        <p>Nombre de Usuario</p>
        <input value="{{userToUpdate.userName}}" type="text" id="userName" name="userName"
          placeholder="Nombre de usuario">
      </label>

      <label for="email" class="b-form__block">
        <p>Email</p>
        <input value="{{userToUpdate.email}}" type="email" id="email" placeholder="Email" name="email">
      </label>

      <label for="password" class="b-form__block">
        <p>Contraseña</p>
        <input value="{{userToUpdate.password}}" type="text" id="password" placeholder="Password" name="password">
      </label>

      <label for="role" class="b-form__block">
        <p>Img</p>
        <input value="{{userToUpdate.img}}" type="file" id="img" placeholder="Img">
      </label>

      <input class="" type="submit" value="Editar Usuario">
    </form>
  </div>
</section>