<form class="b-filter-form">
  <div class="b-filter-form__inputs">
    <input [(ngModel)]="filter.userName" (input)="filterUser()" type="text" id="userName" name="userName"
      class="b-filter-form__input" placeholder="Nombre">
    <input [(ngModel)]="filter.email" (input)="filterUser()" type="text" id="email" name="email"
      class="b-filter-form__input" placeholder="Email">
    <select [(ngModel)]="filter.role" (change)="filterUser()" name="role">
      <option value=""></option>
      <option value="user">Usuario</option>
      <option value="admin">Admin</option>
      <option value="creator">Creator</option>
    </select>
  </div>
</form>
<section class="c-users__results">
  <div *ngFor="let user of filteredUsers" class="c-users__item">

    <div>
      <span class="c-users__name">{{user.userName}} </span>
    </div>
    <div>
      <span class="c-users__email"> {{user.email}} </span>
    </div>
    <div>
      <span class="c-role"> {{user.role}} </span>
    </div>

  </div>
</section>