.c-users {
  &__results {
    margin-top: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    color: var(--color-blue-logo);
  }
  &__email {
    color: var(--color-orange-dark2);
  }

  &__role {
    color: var(--color-blue-dark);
  }

  &__id {
    color: var(--color-light-gray);
  }

  &__link {
    margin-left: 15px;

    &--delete {
      background-color: transparent;
      border: none;
      color: var(--color-red);
      cursor: pointer;

      &:hover {
        color: var(--color-red-dark);
      }
    }
  }
}
