.b-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgba(160, 160, 160, 0.637);
  background-color: rgba(255, 255, 255, 0.87);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  &__block {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
    }
  }

  &__select {
    width: 100%;
  }

  &__img-input {
    // width: 50%;
  }
}
