<form [formGroup]="CreateUserForm" (submit)="submitCreateUserForm()" class="b-form">
  <label for="email" class="b-form__block">
    <p>Nombre de Usuario</p>
    <input formControlName="userName" type="text" id="userName" class="" placeholder="Nombre de usuario">
  </label>
  <label for="email" class="b-form__block">
    <p>Email</p>
    <input formControlName="email" type="email" id="email" class="" placeholder="Email">
  </label>
  <label for="password" class="b-form__block">
    <p>Contraseña</p>
    <input formControlName="password" type="password" id="password" class="" placeholder="Password">
  </label>
  <label for="role" class="b-form__block">
    <p>Role</p>
    <select formControlName="role" type="text" id="role" class="" placeholder="role">
      <option value="user">User</option>
      <option value="admin">Admin</option>
      <option value="creator">Creator</option>
    </select>
  </label>
  <input class="" type="submit" value="Crear Usuario">
</form>