<form [formGroup]="createUserForm" (submit)="submitCreateUserForm()" class="b-form">
  <label for="userName" class="b-form__block">
    <p>Nombre de Usuario</p>
    <input formControlName="userName" type="text" id="userName" class="" placeholder="Nombre de usuario">
  </label>
  <label for="email" class="b-form__block">
    <p>Email</p>
    <input formControlName="email" type="email" id="email" class="" placeholder="Email">
  </label>
  <label for="password" class="b-form__block">
    <p>Contraseña</p>
    <input formControlName="password" type="password" id="password" class="" placeholder="Password">
  </label>
  <input class="" type="submit" value="Crear Usuario">
</form>