<form (submit)="submitSelectCreekForm($event)" class="b-form">
    <label for="email" class="b-form__block">
        <p>Buscar cala por id</p>
        <input name="id" type="text" id="id" class="" placeholder="Id de usuario" value={{creekId}}>
    </label>
    <input class="" type="submit" value="Buscar cala">
</form>

<section class="c-ckeeks__results">
    <div *ngIf="isThereCreek" class="c-creek__item">
        <form class="b-form" (submit)="submitEditCreek($event)" enctype="multipart/form-data">

            <label for="name" class="b-form__block">
                <p>Nombre de Cala</p>
                <input value="{{creekToUpdate.name}}" type="text" id="name" name="name"
                    placeholder="Nombre de cala">
            </label>

            <label for="type" class="b-form__block">
                <p>Tipo de cala</p>
                <select id="type" name="type" class="b-form__select">
                    <option [value]="type" *ngFor="let type of types">{{type}}</option>
                </select>
            </label>

            <label for="province" class="b-form__block">
                <p>Provincia</p>
                <select id="province" name="province" class="b-form__select">
                    <option [value]="province" *ngFor="let province of provinces">{{province}}
                    </option>
                </select>
            </label>

            <label for="description" class="b-form__block">
                <p>Descripción</p>
                <textarea value="{{creekToUpdate.description}}" id="description"
                    placeholder="description" name="descripcion" rows="5" cols="30"
                    class="b-form__textarea"></textarea>
            </label>

            <label for="lat" class="b-form__block">
                <p>Latitud</p>
                <input value="{{creekToUpdate.lat}}" type="number" id="lat" name="lat">
            </label>

            <label for="lng" class="b-form__block">
                <p>Longitud</p>
                <input value="{{creekToUpdate.lng}}" type="number" id="lng" name="lng">
            </label>

            <label for="Img" class="b-form__block">
                <p>Imagen</p>
                <input value="{{creekToUpdate.img}}" type="file" id="img" placeholder="Img"
                    class="b-form__img-input">
            </label>

            <input class="" type="submit" value="Editar cala">
        </form>
    </div>
</section>