<form [formGroup]="createCreekForm" (submit)="submitForm($event)" class="b-form"
    encType="multipart/form-data">

    <label for="name" class="b-form__block">
        <p>Nombre de Cala</p>
        <input formControlName="name" type="text" id="name" name="name" placeholder="creek name">
    </label>

    <label for="type" class="b-form__block">
        <p>Tipo de cala</p>
        <select formControlName="type" id="type" name="type" class="b-form__select">
            <option [value]="type" *ngFor="let type of types">{{type}}</option>
        </select>
    </label>

    <label for="province" class="b-form__block">
        <p>Provincia</p>
        <select formControlName="province" id="province" name="province" class="b-form__select">
            <option [value]="province" *ngFor="let province of provinces">{{province}}
            </option>
        </select>
    </label>


    <label for="description" class="b-form__block">
        <p>Descripción</p>
        <input formControlName="description" type="text" id="description" placeholder="descripcion"
            name="description">
    </label>


    <label for="lat" class="b-form__block">
        <p>Latitud</p>
        <input formControlName="lat" type="text" id="lat" placeholder="latitud" name="lat">
    </label>


    <label for="lng" class="b-form__block">
        <p>Longitud</p>
        <input formControlName="lng" type="text" id="lng" placeholder="longitud" name="lng">
    </label>

    <label for="img" class="b-form__block">
        <p>Imagen</p>
        <input formControlName="img" accept="image/*" type="file" id="img" placeholder="imagen"
            class="b-form__img-input" name="img">
    </label>




    <input type="submit" value="create creek">
</form>