<nav class="c-menu">
  <p class="c-menu__title">Usuarios</p>
  <ul class="c-menu__users-list">
    <li><a routerLink="/users/create-user"
        routerLinkActive="c-menu__active">Crear Usuario</a></li>
    <li><a routerLink="/users/update-user"
        routerLinkActive="c-menu__active">Editar Usuario</a></li>
    <li><a routerLink="/users/delete-user"
        routerLinkActive="c-menu__active">Borrar Usuario</a></li>
  </ul>
  <p class="c-menu__title">Calas</p>
  <ul class="c-menu__creeks-list">
    <li><a routerLink="/creeks/create-creek"
        routerLinkActive="c-menu__active">Crear Cala</a></li>
    <li><a routerLink="/creeks/update-creek"
        routerLinkActive="c-menu__active">Editar Calak</a></li>
    <li><a routerLink="/creeks/delete-creek"
        routerLinkActive="c-menu__active">Borrar Cala</a></li>
  </ul>
  <p class="c-menu__title">Comentarios</p>
  <ul class="c-menu__comments-list">
    <li><a routerLink="/comments/create-comment"
        routerLinkActive="c-menu__active">Crear Comentario</a></li>
    <li><a routerLink="/comments/update-comment"
        routerLinkActive="c-menu__active">Editar Comentario</a></li>
    <li><a routerLink="/comments/delete-comment"
        routerLinkActive="c-menu__active">Borrar Comentario</a></li>
  </ul>
</nav>