<form [formGroup]="deleteUserForm" (submit)="submitDeleteUserForm($event)" class="b-form">
  <label for="email" class="b-form__block">
    <p>Buscar usuario por id</p>
    <input formControlName="id" type="text" id="id" class="" placeholder="Id de usuario" name="id">
  </label>
  <input class="" type="submit" value="Borrar usuario">
  <label for="email" class="b-form__block">
    <p>Buscar usuario por nombre</p>
    <input formControlName="userName" type="text" id="userName" class="" placeholder="Nombre de usuario">
  </label>

</form>