@font-face {
  font-family: "lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf"),
    url("../../assets/fonts/Lato/Lato-Bold.ttf"),
    url("../../assets/fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "lullabies";
  src: url("../../assets/fonts/Lullabies/Lullabies-Reg.ttf");
}

@font-face {
  font-family: "exo";
  src: url("../../assets/fonts/Exo/Exo-Bold.ttf");
}
