.c-menu {
  height: calc(100vh - 90px);
  width: 185px;
  padding-top: 90px;
  background-color: var(--color-blue-logo);
  color: var(--color-warm-white);

  @media (max-width: 992px) {
    display: none;
  }

  &__item {
    margin-bottom: 15px;
  }

  a {
    color: var(--color-warm-white);

    &:hover {
      color: var(--color-blue);
    }
  }

  &__active {
    color: var(--color-blue);
  }

  &__block {
    margin-bottom: 40px;
    padding: 0 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    background-color: var(--color-blue-logo-light);
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;
  }
}
