<nav class="c-menu">
  <p class="c-menu__title">Usuarios</p>
  <ul class="c-menu__users-list" routerLinkActive="c-menu__active">
    <li class="c-menu__item"><a routerLink="/users/create-user">Crear Usuario</a></li>
    <li class="c-menu__item"><a routerLink="/users/update-user">Editar Usuario</a></li>
    <li class="c-menu__item"><a routerLink="/users/delete-user">Borrar Usuario</a></li>
  </ul>
  <p class="c-menu__title">Calas</p>
  <ul class="c-menu__creeks-list">
    <li class="c-menu__item"><a routerLink="/creeks/create-creek"
        routerLinkActive="c-menu__active">Crear Cala</a></li>
    <li class="c-menu__item"><a routerLink="/creeks/update-creek"
        routerLinkActive="c-menu__active">Editar Cala</a></li>
    <li class="c-menu__item"><a routerLink="/creeks/delete-creek"
        routerLinkActive="c-menu__active">Borrar Cala</a></li>
  </ul>
  <p class="c-menu__title">Comentarios</p>
  <ul class="c-menu__comments-list">
    <li class="c-menu__item"><a routerLink="/comments/create-comment"
        routerLinkActive="c-menu__active">Crear
        Comentario</a></li>
    <li class="c-menu__item"><a routerLink="/comments/update-comment"
        routerLinkActive="c-menu__active">Editar
        Comentario</a></li>
    <li class="c-menu__item"><a routerLink="/comments/delete-comment"
        routerLinkActive="c-menu__active">Borrar
        Comentario</a></li>
  </ul>
</nav>