<nav class="c-menu">

  <a class="c-menu__title" routerLink="/users">Usuarios</a>
  <ul class="c-menu__block" routerLinkActive="c-menu__active">
    <li class="c-menu__item"><a routerLink="/users/create-user">Crear Usuario</a></li>
    <li class="c-menu__item"><a routerLink="/users/update-user">Editar Usuario</a></li>
    <li class="c-menu__item"><a routerLink="/users/delete-user">Borrar Usuario</a></li>
  </ul>


  <a class="c-menu__title" routerLink="/creeks">Calas</a>
  <ul class="c-menu__block">
    <li class="c-menu__item"><a routerLink="/creeks/create-creek"
        routerLinkActive="c-menu__active">Crear Cala</a></li>
    <li class="c-menu__item"><a routerLink="/creeks/update-creek"
        routerLinkActive="c-menu__active">Editar Cala</a></li>
    <li class="c-menu__item"><a routerLink="/creeks/delete-creek"
        routerLinkActive="c-menu__active">Borrar Cala</a></li>
  </ul>


  <a class="c-menu__title" routerLink="/comments">Comentarios</a>
  <ul class="c-menu__block">
    <li class="c-menu__item"><a routerLink="/comments/delete-comment"
        routerLinkActive="c-menu__active">Borrar
        Comentario</a></li>
  </ul>

</nav>