.c-menu {
  height: 100%;
  width: 165px;
  padding: 20px;
  background-color: var(--color-blue-logo);
  color: var(--color-warm-white);

  @media (max-width: 992px) {
    display: none;
  }

  &__item {
    margin-bottom: 15px;
  }

  a {
    color: var(--color-warm-white);

    &:hover {
      color: var(--color-blue);
    }
  }

  &__active {
    color: var(--color-blue);
  }

  &__title {
    margin-top: 20px;
  }
}
